<div id="wrapper">
    <h1>Ohr- und Körperkerzenbehandlung</h1>
    <div class="flexbox-wrapper">
        <p class="text-container">Die Ohrkerzenbehandlung ist eine einfache, natürliche Heilmethode, die sehr entspannend ist. Dabei wird die Kerze vorsichtig in den äußeren Hörkanal gesetzt. Die Wärme und der Dampf der Ohrkerze erweichen das Ohrschmalz, so dass es abfließen kann,
            stimulieren die Akupunkturpunkte und verbessern den Blutkreislauf im Ohr, welcher zur Heilung unterschiedlicher Erkrankungen des Ohr- und Nebenhöhlenbereiches beitragen kann. Darüber hinaus stärkt es die Immunabwehrkräfte und hilft bei stress
            - und seelisch bedingten Leiden. Der sogenannte "Kamineffekt" bewirkt eine Trommelfellmassage und fördert den Druckausgleich.</p>
        <img src="./assets/pics/ohrkerzenbehandlung_1.jpg" alt="Ohrkerzen" class="img-container">
    </div>
    <div class="flexbox-wrapper">
        <p class="text-container"> Bei der Körperkerzenbehandlung werden spezielle, größere Kerzen auf bestimmte Körperstellen gesetzt, um hier über die Haut die eigenen Abwehrkräfte anzuregen und punktuelle Leiden zu lindern oder die Chakra Punkte zu stimulieren.</p>
        <img src="./assets/pics/ohrkerzen.jpg" alt="Ohrkerzen" class="img-container">
    </div>
    <div class="flexbox-wrapper">
        <p class="text-container">Eine Ohr-bzw Körperkerzenbehandlung ist eine Wohltat für einen selbst und auch ein wunderbares Geschenk für andere Menschen.</p>
        <img src="./assets/pics/ohrkerzenbehandlung.jpg" alt="Ohrkerzen" class="img-container">
    </div>
</div>