<div id="wrapper">
    <h1>Interessante Internetseiten</h1>
    <ul>
        <li>
            <a href="https://innerwise.com/de/" target="_blank">
                <i class="fa fa-external-link" id="navi-close-icon" aria-hidden="true"></i> Innerwise
            </a>
        </li>
        <li>
            <a href="http://www.positiv-factory.com/" target="_blank">
                <i class="fa fa-external-link" id="navi-close-icon" aria-hidden="true"></i> Positiv Factory
            </a>
        </li>
        <li>
            <a href="http://idee-und-idyll.de/" target="_blank">
                <i class="fa fa-external-link" id="navi-close-icon" aria-hidden="true"></i> Idee & Idyll - Gartengestaltung Andrea Wohlgemuth
            </a>
        </li>
    </ul>
</div>