<div id="wrapper">
    <h1>PT - Persönlichkeitstraining</h1>
    <div id="flexbox-wrapper">
        <div id="img-container">
            <img src="./assets/pics/wasserschlucht.jpg" alt="Persönlichkeitstraining">
        </div>
        <div id="text-container">
            <p>Im Persönlichkeitstraining können Sie sich selbst erfahren, besser verstehen, kennen lernen und neu ausrichten. So können Sie den Mut fassen, endlich neue, vielleicht auch spannende, unwegsame Wege zu gehen, um ihr volles Potential zu leben.
                Im persönlichen Coaching und Aufstellen eines (neuen) Lebensplanes, setzen Sie sich ihre eigenen Ziele und bekommen Hilfestellung und das Handwerkszeug für die Umsetzung. Egal ob privat oder im Job, ein Persönlichkeitstraining verbindet
                Sie wieder mit sich selbst und ihrem eigenen innewohnenden vollen Potential, ihren eigenen Weg zu gehen und die Lebensenergie frei fließen zu lassen. Sich selbst und das Leben neu zu spüren, zu genießen und die Lebensfreude (wieder) zu
                leben.
            </p>
        </div>
    </div>
    <img src="./assets/pics/waldbrücke_partial.jpg" alt="Persönlichkeitstraining" id="imgWide">
</div>