<div id="wrapper">
    <h1>Kontakt und Terminvereinbarung</h1>
    <p>Praxis für Naturheilverfahren und Energetisches Heilen</p>
    <div id="owner-container">
        <p class="greaterFontsize">Heilpraktikerin Daniela Hale</p>
        <span class="adress-padding">Drosselweg 4</span>
        <br>
        <span><i class="fa fa-address-book-o" aria-hidden="true"></i> 84051 Essenbach</span>
        <br>
        <span class="adress-padding">Deutschland</span>
        <br><br>
        <a href="tel:+4987034134819">
            <i class="fa fa-phone" aria-hidden="true"></i> 08703/4134819
        </a>
        <br><br>
        <a href="mailto:{{getMyEmail()}}" class="dynamic-maincolor">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{getMyEmail()}}
        </a>
    </div>
    <p class="greaterFontsize">Wichtiger Hinweis:</p>
    <p>Da wir Menschen Individuen sind, bedürfen wir auch einer auf uns und unserem Anliegen ausgerichtete, individuell zugeschnittene Behandlungs- und Therapieform. Deshalb erstelle ich gemeinsam mit Ihnen einen eigenverantwortlichen Therapie- und Behandlungsplan
        in einer Erstanamnese.</p>
    <br>
    <p class="greaterFontsize">Voraussetzungen</p>
    <p>Unabdingbar für einen Behandlungserfolg ist der eigene Wille zur Veränderung und Mitarbeit. Dieses bedeutet für die Behandlung von Kindern auch die aktive Mitwirkung der Eltern, was z.B. eine mögliche Eigenbehandlung und Testung beinhalten kann.<br>Die
        Dauer der Behandlung richtet sich nach der Vorgeschichte, der Art und dem Schweregrad der Behandlung, sowie der eigenverantwortlichen Mitarbeit des Patienten bzw. der Familie. Diese kann aus ein bis zwei Behandlungen/Sitzungen bestehen oder aber
        auch zwischen 3 Monaten bis zu 2 Jahren in Anspruch nehmen.</p>
</div>