<div id="wrapper">
    <h1>Gesprächspsychotherapie der GWG</h1>
    <div id="flexbox-wrapper">
        <div id="img-container">
            <img src="./assets/pics/sonnenuntergangMeer.jpg">
        </div>
        <div id="text-container">
            <ul>
                <li>Einzeltherapie</li>
                <li>Paartherapie</li>
                <li>Coaching</li>
            </ul>
        </div>
    </div>
    <p>Gesprächspsychotherapie der GWG - Gesellschaft für wissenschaftliche Gesprächspsychotherapie</p>
</div>