<div id="wrapper">
    <h1>Was ist die innerwise<sup>®</sup> Methode?</h1>
    <p>Mit der innerwise<sup>®</sup> Methode und deren Behandlungs-Tools werden Köper, Geist und Seele als Einheit gesehen und behandelt. So wird nicht versucht, körperliche Erkrankungen durch deren Symptombekämpfung zu heilen. Vielmehr werden deren Ursachen
        aufgespürt, Blockaden aufgelöst und die Selbstheilungskräfte in Gang gesetzt. Das heißt, der Körper kann sich wieder selbst helfen, nachdem die Ursachen erkannt und auf ganzheitlicher Ebene gelöst wurden. So kann nachhaltige und langfristige Heilung
        entstehen.
    </p>
    <img src="./assets/pics/innerWiseLogo.png" alt="innerwise" id="innerwise-img">
    <p>Der Arzt und Entwickler Uwe Albrecht sagt dazu Folgendes:</p>
    <div id="quote-container">
        <p>"innerwise<sup>®</sup> – energetische Medizin für das 21. Jahrhundert.<br> innerwise<sup>®</sup> ist ein intelligentes Heilsystem, das sich nach 19 Jahren Entwicklungsarbeit und Wachstum nun als vollständig unabhängiges Feld präsentiert und sich
            jedem zur Verfügung stellt, der die wahren Ursachen für körperliche, geistige und seelische Erkrankungen identifizieren will, und hilft, sie dort zu lösen, wo sie entstanden sind.<br><br>innerwise<sup>®</sup> sind Werkzeuge und Wege, um sich
            mit den innerliegenden Fähigkeiten in jedem von uns wieder zu verbinden und sie wieder ins Leben zu integrieren. Es sind Werkzeuge deren einzige Aufgabe es ist, sich selbst überflüssig zu machen. Und bis dahin beschleunigen sie die Prozesse
            der Klärung und des inneren Wachstums.<br><br>innerwise<sup>®</sup> hat mit der Unzufriedenheit der Möglichkeiten der Schulmedizin begonnen und der Hoffnung eine bessere und zeitgemäßere Medizin erschaffen zu können. Die große Herausforderung
            bei der Erschaffung von innerwise<sup>®</sup> war es, die Essenz hinter den verschiedenen Heilsystemen der Menschheitsgeschichte zu finden und sie in einfacher Form beim Menschen anwendbar zu machen und von dort aus auf alles andere zu übertragen.<br><br>Das
            Prinzip von innerwise<sup>®</sup> ist es, auf allen Ebenen den Zustand von Flow – den Fluss im Leben – wiederherzustellen. Dies gelingt, indem man die Antworten auf die gezielten Fragen nach dem „Was, warum, wann, wozu“ stellt und sich dadurch
            der Zusammenhänge und Muster bewusst wird, die Blockaden, Stress oder Starre verursacht haben."</p>
        <p id="author">Uwe Albrecht</p>
    </div>
</div>