<div id="wrapper">
    <h1>Vibrationstraining</h1>
    <p>Das Prinzip der Vibrationsarbeit ist unter dem Namen Superkompensation bekannt. Dies ist ein “Anpassungsprozess” an Körperbewegung und bestimmt die positiven Veränderungen, denen unser Körper unterlegen ist, wenn wir eine körperliche Tätigkeit ausüben.
        Die Vibration auf der Vibrationsplatte VibroPlate führt zur einer Kontraktion der Muskelfasern. Auf diese Art und Weise arbeiten die Muskeln effektiver, sogar noch stärker als bei traditionellem Sport. Es handelt sich hierbei um ein System, das
        seit mehr als 20 Jahren von Elitesportlern und Astronauten angewendet wird. Es verdoppelt den Effekt der Muskelarbeit mit Belastung, aber ohne die körperliche Beanspruchung, die eine Arbeit mit Ausdauer beinhaltet. Seine Vorzüge gehen über die
        der Muskeln hinaus, denn es bietet auch Vorzüge für die Knochenstruktur, für das Hormonsystem, für die Haut und die Durchblutung. Sie werden sofort die Auswirkungen der Vibration spüren: Die Muskeln kontrahieren, die Herzfrequenz und die Durchblutung
        steigen. In diesem Moment werden andere langfristige Stimulationen aktiviert, die noch viel wichtiger sind: die Knochenstruktur wird verstärkt, es steigt die Hormonausschüttung (Wachstumshormon und Testosteron), es wird der Stoffwechsel und der
        Verbrauch von Kalorien angeregt, und es werden das zentrale und periphere Nervensystem stimuliert. Während der Bewegung werden Sie fühlen, wie Ihr ganzer Körper vibriert, davon abgesehen werden Sie KEINERLEI Art von Schmerz empfinden oder Anstrengung
        ausüben. Im Gegenteil, Sie werden ein Gefühl des Wohlempfindens wahrnehmen.<br><br>VibroPlate by MediaHome ist die Vibrationsplatte, die für all jene gedacht ist und entworfen wurde, die schnelle Ergebnisse in kurzer Zeit wünschen. VibroPlate
        ermöglicht Ihnen, eine ideale Kondition ohne Anstrengung zu erreichen und beizubehalten, ohne sich stundenlang im Fitnessstudio aufopfern zu müssen. Dazu ist es ein wunderbares Therapiemittel bei einer Vielzahl von Erkrankungen und zur Prävention
        von Krankheiten und Leistungsminderung. So sparen Sie Zeit und Geld. Die Programme der VibroPlate-Plattform bieten eine große Zahl an Vorzügen. Angefangen von einer unmittelbaren Besserung der Durchblutung bis hin zu einer Steigerung der Kraft
        und Muskelflexibilität, vor allem im Bewegungsausmaß. Ferner bietet sie eine zunehmende Minderung von Cellulite bis hin zu einer Steigerung der Knochendichte, mit Abnahme von Schmerzen und Muskelkater, wie auch einer schnelleren Erholung. Die
        Nutzer nehmen wahr, wie Endorphine freigesetzt werden - eben jene Hormone, die mit dem Wohlbefinden in Verbindung stehen und die Sportler beim Training empfinden. Richtig eingesetzt hilft ein Vibrationstraining mit der VibroPlate-Plattform dabei,
        flexibler zu werden, den Körper zu stärken, zu massieren und zu entspannen. Bereiten Sie sich auf einen Wandel bei der Art Ihres Trainings vor.</p>
    <img src="./assets/pics/vibroplate.jpg" alt="Vibroplate">
    <h3>Vorzüge, die man mit VibroPlate erhält:</h3>
    <ul>
        <li>Steigerung von Kraft und Potenz des Muskeltonus</li>
        <li>Stärkung der Rückenmuskulatur und des Skelettapparates</li>
        <li>Stärkung und Kräftigung der gesamten Körpermuskulatur</li>
        <li>Steigerung der Explosionskraft durch geringste Beteiligung der Antagonistenmuskeln bei der Bewegung</li>
        <li>Ausgleich der Muskelkapazität zwischen Agonisten und Antagonisten</li>
        <li>Steigerung des Blutflusses zur Verbesserung des Aufwärmens/Abkühlens der Muskelgruppen</li>
        <li>Steigerung der allgemeinen und peripheren Sauerstoffversorgung</li>
        <li>Steigerung des Testosteronspiegels</li>
        <li>Bedeutende Steigerung des Wachstumshormons (Somatotropin)</li>
        <li>Senkung des Cortisolspiegels</li>
        <li>Bedeutend reduzierte Gelenkbelastung im Vergleich zu konventionellen Konditionsübungen</li>
        <li>Verbesserung der Haltungsreflexe</li>
        <li>Verbesserung der Flexibilität und der Muskelelastizität</li>
        <li>Verbesserung des Bewegungsbogens</li>
        <li>Verbesserung von Gleichgewicht und Koordination</li>
        <li>Begrenzung des Knochendichteverlusts</li>
        <li>Verbesserung der Lebensqualität für Senioren (z.B. bei Blasenschwäche, Arthrose, Vorbeugend gegen Osteoporose etc.)</li>
    </ul>
</div>