<div id="wrapper">
    <h1>Herzlich Willkommen</h1>
    <p>Ich freue mich, dass Sie auf der Webpage meiner Naturheilpraxis angekommen sind. Meine naturheilpraktische Arbeit liegt mir sehr am Herzen.</p>
    <div id="quote-wrapper">
        <div id="img-container">
            <img src="./assets/pics/danielaHale.jpg" alt="Daniela Hale">
            <p>Heilpraktikerin Daniela Hale</p>
        </div>
        <div id="quote-container">
            <p id="quote">"Jede Minute, die man lacht, verlängert das Leben um eine Stunde."</p>
            <p id="author">Chinesisches Sprichwort</p>
        </div>
    </div>
    <h3>Über mich:</h3>
    <p>Seit fast 20 Jahren begleite und behandle ich kleine und große Kinder, Jugendliche und Erwachsene als Heilpraktikerin, Coach, Seelsorgerin, Gesprächstherapeutin.<br> Dieses mit viel Liebe und in Respekt und Achtung vor der Würde des Menschen. Darüber
        hinaus bin ich verheiratet und Mutter von 3 Kindern.</p>
    <img src="./assets/pics/kinderfasching.jpg" alt="Töchter" id="children-image">
    <p>Seit dem Kindesalter haben mich natürliche Heilweisen interessiert. Ausgelöst durch Krankheitsfälle in der Familie und im Freundeskreis, die durch die herkömmlichen, schulmedizinischen Behandlungsmethoden nicht geheilt werden konnten oder noch verschlimmert
        wurden, habe ich mich mehr und mehr mit dem Ursache - Wirkungsprinzip von Krankheiten beschäftigt. Dabei bin ich auf die Einheit von Körper-Geist-Seele gekommen. Nur ein sich in Balance befindlicher Mensch, befindet sich auch in einem gesunden
        Körper.
    </p>
    <p>Dort, wo sich ein energetisches Störfeld auftut, einsteht ein Ungleichgewicht und damit Blockaden, die zu Krankheiten führen können. Diese gilt es aufzuspüren und zu lösen, damit die Lebensenergie wieder frei fließen, die natürlichen Selbstheilungskräfte
        aktiviert werden und Heilung geschehen kann.</p>
    <h3>Ausbildung/Studium:</h3>
    <ul>
        <li>Abgeschlossene Studiengänge:</li>
        <ul>
            <li>Dipl. Religionspädagogik</li>
            <li>Englisch</li>
            <li>Counseling USA</li>
        </ul>
        <li>Heilpraktikerin</li>
        <ul>
            <li>Zertifizierter Innerwise Coach</li>
            <li>Zertifizierte Dipl. Persönlichkeitstrainerin</li>
        </ul>
        <li>Ausbildung in Gesprächspsychotherapie der Gesellschaft für wissenschaftliche Gesprächspsychotherapie</li>
        <li>Fortbildung in medizinischer Ethik</li>
        <li>Fortbildung in pädiatrischer Onkologie und Hospizarbeit</li>
        <li>Aus-, Fort- und Weiterbildungen:</li>
        <ul>
            <li>Diagnostik und Anamnese</li>
            <li>Behandlungsmethoden</li>
            <li>Akkupunktur</li>
            <li>Homöopathie/Schüssler Salze/Bachblüten</li>
            <li>Traditionelle Chinesische Medizin (TCM)</li>
        </ul>
    </ul>
    <h3>Ausbildung und Zertifizierung in folgenden energetischen Heilmethoden</h3>
    <ul>
        <li>Reiki Grad 1-3 und Master/Lehrer</li>
        <li>CQM chinesischer Quantenheilung 1-3 nach Gabriele Eckert</li>
        <li>Qe Quantenentrainment 1-3 nach Dr. Frank Kinslow</li>
        <li>Energetische 2 Punkt Methode nach Walbert & Lang</li>
        <li>Diverse Matrix 2 Punktmethoden</li>
        <li>Energetische Wirbelsäulenaufrichtung</li>
        <li>Therapeutische Ohrkerzenbehandlung</li>
        <li>Psychosomatische Energetik (PSE) nach Dr. Reimar Barnis</li>
        <li>Innerwisemethode mit intuitiver Diagnostik nach dem Arzt Uwe Albrecht</li>
        <a href="https://innerwise.com/de/coaches-mentoren/coach/469-daniela-hale" target="_blank" id="coachsite-link">
            <i class="fa fa-external-link" id="navi-close-icon" aria-hidden="true"></i> Link zu meiner Coachseite
        </a>
        <li>Persönlichkeitstrainerin PT (Positiv Factory)</li>
    </ul>
</div>