<div id="wrapper">
    <h1>Psychosomatische Energetik (PSE)</h1>
    <div id="quote-wrapper">
        <div id="img-container">
            <img src="./assets/pics/psegerät.jpg">
        </div>
        <div id="quote-container">
            <p id="quote">"Die PSE oder psychosomatische Energetik ist eine naturheilkundliche, ganzheitliche Behandlungsmethode, die auch Energie - Check genannt wird."</p>
            <p id="author">Dr. Reimar Barnis</p>
        </div>
    </div>
    <p>Entwickelt wurde sie von den Ärzten Dr. Reimar Barnis und Dr. Ulrike Güdel.</p>
    <p>Mit Hilfe eines Testgerätes werden unter Zuhilfenahme bestimmter Testampullen versteckte Krankheitsursachen, Blockaden und energetische Konflikte ermittelt. Man kann zudem erkennen, ob ein Mensch zu wenig Energie hat und wo die Energie blockiert ist.
        So werden auch die homöopathischen Konfliktmittel, die sogenannten Emotionalmittel ermittelt, die zur Therapie benötigt werden.</p>
</div>